<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>paginas</title>
    <link rel="stylesheet" href="assetsEdit/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assetsEdit/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assetsEdit/css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img id="icononav" src="./assets/Images/crab.png" alt="" style="height: 64px;">
      <a class="navbar-brand" href="#">El crustáceo cascarudo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Clientes">Clientes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="TarjetaCredito">Tarjetas de crédito</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Proveedores">Proveedores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Direcciones">Direcciones</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Factura">Facturas</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Inventarios
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="Inventario">Inventario</a>
                      <a class="dropdown-item" href="producto_inventario">Inventario/Producto</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Compras
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="Compras">Compras</a>
                      <a class="dropdown-item" href="compra_inventario">Compras/Inventario</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Productos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="Productos">Productos</a>
                      <a class="dropdown-item" href="producto_factura">Producto/Factura</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>

    <section class="contact-clean">
      <form method="POST" action="/clientes/update/<%= cliente[0].idClientes %> ">
        <h2 class="text-center">Cliente</h2>
        <div class="form-group" >
            <label for="nombre">Nombre: </label>
          <input class="form-control" type="text" id="nombre" name="nombre" value=" <%= cliente[0].Nombre %> " />
        </div>
        <div class="form-group" >
            <label for="apellido_1">Apellido:</label>
          <input class="form-control" type="text" id="apellido_1" name="apellido_1" value=" <%= cliente[0].Apellido_1 %> " />
        </div>
        <div class="form-group" >
            <label for="telefono">Telefono:</label>
          <input class="form-control" type="number" id="telefono" name="telefono" value= <%= cliente[0].Telefono %> />
        </div>
        <div class="form-group" >
            <label for="fecha_nac">Fecha de nacimiento:</label>
          <input
            class="form-control"
            type="date"
            id="fecha_nac"
            name="fecha_nac"
            value="<%= formatoFecha %>"
          />
        </div>
        <div class="form-group" >
            <label for="genero">Genero:</label><br>
            <select name="genero" id="genero" value="<%= cliente[0].Genero %>">
                <option value="1">Hombre</option>
                <option value="0">Mujer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="direccion">Direccion:</label>
          <input class="form-control" type="text" id="direccion" name="direccion" value="<%= cliente[0].Direccion %>"/>
        </div>
        <div class="form-group" id="tipo_id">
            <label for="tipo_id">Tipo Id:</label>
          <input class="form-control" type="text" id="tipo_id" name="tipo_id" value="<%= cliente[0].tipo_id %>"/>
        </div>
        <div class="form-group" id="correo">
            <label for="correo">Correo:</label>
          <input class="form-control" type="text" id="correo" name="correo" value="<%= cliente[0].Correo %>"/> 
        </div>
        <button class="btn btn-primary" id="button-form" value="submit">
          ENVIAR
        </button>
      </form>
    </section>
    <div></div>
    <script src="assetsEdit/js/jquery.min.js"></script>
    <script src="assetsEdit/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
